@model IEnumerable<FSVentasCoreAs.Models.MarcasArticulos>

@{
    ViewData["Title"] = "Index";
}

<h2>Marca Articulos</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Marca Articulos</title>
</head>
<body>
    <!--
    content of this area will be the content of your PDF file
    -->
    <div id="HTMLtoPDF">
        <h2>Reporte de Marca Articulos</h2>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>


        </p>
    </div>
    <a href="#" onclick="HTMLtoPDF()">Descargar Reporte Pdf</a>
    <script src="js/jspdf.js"></script>
    <script src="js/jquery-2.1.3.js"></script>
    <script src="js/pdfFromHTML.js"></script>
</body>
</html>

