@model FSVentasCoreAs.Models.Dirreciones.DistritosMunicipales

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DistritosMunicipales</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="DistritoId" />
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipios.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Consulta">Back to List</a>
        </div>
    </form>
</div>
